/* Add styles for larger screens */
@media screen and (min-width: 768px) {
  /* Your styles for larger screens here */
  body {
    font-size: 18px;
    line-height: 1.6;
  }
}

/* Add styles for smaller screens (e.g., mobile devices) */
@media screen and (max-width: 767px) {
  /* Your styles for smaller screens here */
  body {
    font-size: 16px;
    line-height: 1.4;
  }
}

.tooltip-container {
      position: relative;
      display: inline-block;
      cursor: pointer; /* Add cursor pointer to indicate clickable */
    }

    /* Style the tooltip content */
    .tooltip-container .tooltiptext {
      visibility: hidden;
      background-color: #333;
      color: #fff;
      text-align: center;
      border-radius: 5px;
      padding: 5px;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      transition: opacity 0.3s;
    }

    /* Show the tooltip when the container is clicked */
    .tooltip-container.active .tooltiptext {
      visibility: visible;
      opacity: 1;
    }

    /* Format the word with spaces between them */
    .word {
      white-space: pre-wrap;
    }